# Series in Pandas

In [2]:
import pandas as pd

In [2]:
s = pd.Series([12, 14, 18, 6, 20])
s

0    12
1    14
2    18
3     6
4    20
dtype: int64

In [41]:
s = pd.Series([12, 14, 18, 6, 20], index=['Ali', 'Taha', 'Sara', 'Omid', 'Hossein'])
s

Ali        12
Taha       14
Sara       18
Omid        6
Hossein    20
dtype: int64

In [42]:
s = s.reindex(['Ali', 'Hassan', 'Mahsa', 'Omid', 'Hossein'])
s

Ali        12.0
Hassan      NaN
Mahsa       NaN
Omid        6.0
Hossein    20.0
dtype: float64

In [43]:
s[1] # we changed Mahsa

nan

In [45]:
s['Mahsa'] = 14.5
s['Hassan'] = 18.5
s

Ali        12.0
Hassan     18.5
Mahsa      14.5
Omid        6.0
Hossein    20.0
dtype: float64

In [46]:
s.index

Index(['Ali', 'Hassan', 'Mahsa', 'Omid', 'Hossein'], dtype='object')

In [47]:
s.values

array([12. , 18.5, 14.5,  6. , 20. ])

In [49]:
s.index.name = 'Names'
s.name = 'Grades'
s

Names
Ali        12.0
Hassan     18.5
Mahsa      14.5
Omid        6.0
Hossein    20.0
Name: Grades, dtype: float64

In [50]:
s = s.drop('Omid') #Thats how we kill omid
s

Names
Ali        12.0
Hassan     18.5
Mahsa      14.5
Hossein    20.0
Name: Grades, dtype: float64

In [51]:
myser = pd.Series([12, 14, 5, 7, 2], index=['A', 'B', 'C', 'D', 'E'])
myser

A    12
B    14
C     5
D     7
E     2
dtype: int64

In [52]:
myser.pop('C')

5

In [54]:
myser # داد‌ای که اندیس اش سی بود حذف شد

A    12
B    14
D     7
E     2
dtype: int64

In [56]:
import numpy as np
s = pd.Series([12, 14, 5, np.NaN, 7, 2], index=['A', 'B', 'C', 'D', 'E', 'F'])
s

A    12.0
B    14.0
C     5.0
D     NaN
E     7.0
F     2.0
dtype: float64

In [57]:
s.isna()

A    False
B    False
C    False
D     True
E    False
F    False
dtype: bool

In [58]:
s.notna()

A     True
B     True
C     True
D    False
E     True
F     True
dtype: bool

In [59]:
s.isin(['C'])

A    False
B    False
C    False
D    False
E    False
F    False
dtype: bool

In [61]:
s.isin([5]) #isin is for values

A    False
B    False
C     True
D    False
E    False
F    False
dtype: bool

In [62]:
sc = s.copy()
sc

A    12.0
B    14.0
C     5.0
D     NaN
E     7.0
F     2.0
dtype: float64

In [63]:
s['B'] = 89
s

A    12.0
B    89.0
C     5.0
D     NaN
E     7.0
F     2.0
dtype: float64

In [65]:
sc # changes in s is not applied in sc

A    12.0
B    14.0
C     5.0
D     NaN
E     7.0
F     2.0
dtype: float64

In [66]:
s.sort_values()

F     2.0
C     5.0
E     7.0
A    12.0
B    89.0
D     NaN
dtype: float64

In [67]:
s.sort_values(ascending=False)

B    89.0
A    12.0
E     7.0
C     5.0
F     2.0
D     NaN
dtype: float64

In [69]:
s.rank() # shows the position in sorted serie

A    4.0
B    5.0
C    2.0
D    NaN
E    3.0
F    1.0
dtype: float64

In [73]:
s1 = pd.Series([12, 14, 5, np.NaN, 7, 2], index=['A', 'B', 'C', 'A', 'E', 'B'])
s1 # two identical indecies

A    12.0
B    14.0
C     5.0
A     NaN
E     7.0
B     2.0
dtype: float64

In [75]:
s1['B']

B    14.0
B     2.0
dtype: float64

In [77]:
s1.index.is_unique

False

In [78]:
s.index.is_unique

True

In [79]:
s1.describe()

count     5.000000
mean      8.000000
std       4.949747
min       2.000000
25%       5.000000
50%       7.000000
75%      12.000000
max      14.000000
dtype: float64

In [81]:
s.count()

5

In [83]:
s.quantile([0.25, 0.5])

0.25    5.0
0.50    7.0
dtype: float64

In [87]:
s1

A    12.0
B    14.0
C     5.0
A     NaN
E     7.0
B     2.0
dtype: float64

In [88]:
s1 >= 5

A     True
B     True
C     True
A    False
E     True
B    False
dtype: bool

In [91]:
s1.where(s1 >= 10)

A    12.0
B    14.0
C     NaN
A     NaN
E     NaN
B     NaN
dtype: float64

In [92]:
myser1 = pd.Series(['a', 'b', 'a', 'c', 'd'])
myser1

0    a
1    b
2    a
3    c
4    d
dtype: object

In [94]:
myser1.duplicated() # The second 'a' is duplicted

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [97]:
myser1.drop_duplicates() # Remove duplicated values

0    a
1    b
3    c
4    d
dtype: object

In [98]:
myser1 = pd.Series(['a', 'b', 'a', 'c', 'd'])
myser1.drop_duplicates(keep='last') #Remove the first of the duplicated

1    b
2    a
3    c
4    d
dtype: object

In [99]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [100]:
s.add_prefix('item_')

item_0    1
item_1    2
item_2    3
item_3    4
dtype: int64

In [102]:
s.add_suffix(':')

0:    1
1:    2
2:    3
3:    4
dtype: int64

## یکسری عملیات ریاضی روی سری های پانداس

In [103]:
a = pd.Series([1, 10, 3])
b = pd.Series([4, 5, 6])

In [104]:
a + b

0     5
1    15
2     9
dtype: int64

In [105]:
a.add(b)

0     5
1    15
2     9
dtype: int64

In [106]:
a.subtract(b)

0   -3
1    5
2   -3
dtype: int64

In [107]:
a.multiply(b)

0     4
1    50
2    18
dtype: int64

In [108]:
a.pow(b)

0         1
1    100000
2       729
dtype: int64

In [110]:
a.divide(b)

0    0.25
1    2.00
2    0.50
dtype: float64

In [112]:
a.mod(b) #  باقیمانده تقسیم

0    1
1    0
2    3
dtype: int64

In [113]:
a = pd.Series([1, 10, 3], index=['a', 'b', 'c'])
b = pd.Series([4, 5, 6], index=['a', 'b', 'd'])

In [115]:
a.add(b) # اگه سری متناظر رو نداشته باشیم مشکل پیش میاد

a     5.0
b    15.0
c     NaN
d     NaN
dtype: float64

In [116]:
a.add(b, fill_value=0)

a     5.0
b    15.0
c     3.0
d     6.0
dtype: float64

## eq, ne, gt, ge, lt, le

In [5]:
s1 = pd.Series([8, 2, 12, 6, 5, 4])
s2 = pd.Series([20, 2, 7, 6, 2, 17])

In [7]:
s1.eq(s2) # بررسی تساوی

0    False
1     True
2    False
3     True
4    False
5    False
dtype: bool

In [8]:
s1.ne(s2) # not equal

0     True
1    False
2     True
3    False
4     True
5     True
dtype: bool

In [9]:
s1.gt(s2) # greater

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

ge: greater or equal * 
lt: lower * 
le: lower or equal

## argmax, argmin

In [11]:
score = pd.Series({'java': 15, 'C++': 20, 'Python': 12, 'Pascal': 9})

In [12]:
score

java      15
C++       20
Python    12
Pascal     9
dtype: int64

In [15]:
score[score.argmax()] # score[1]

20

In [16]:
score.argmin()

3

In [17]:
score.idxmin()

'Pascal'

## cumsum, cumprod (cumulative)

In [18]:
import numpy as np
s = pd.Series([3, 2, np.nan, 5, 0])

In [19]:
s.cumsum()

0     3.0
1     5.0
2     NaN
3    10.0
4    10.0
dtype: float64

In [20]:
s.cumprod()

0     3.0
1     6.0
2     NaN
3    30.0
4     0.0
dtype: float64

## value_count, unique

In [22]:
s = pd.Series(['c', 'a', 'd', 'a', 'a', 'c', 'b', 'b' , 'c', 'c'])

In [24]:
s.value_counts()

c    4
a    3
b    2
d    1
dtype: int64

In [27]:
pd.value_counts(s.values, sort=False)

c    4
a    3
d    1
b    2
dtype: int64

In [28]:
s.unique()

array(['c', 'a', 'd', 'b'], dtype=object)

In [29]:
pd.Series(['c', 'a', 'd', 'a', 'a', 'c', 'b', 'b' , 'c', 'c']).unique()

array(['c', 'a', 'd', 'b'], dtype=object)

## append, combine

In [30]:
s1 = pd.Series([8, 2, 12, 6, 5, 4])
s2 = pd.Series([20, 2, 7, 6, 2, 17])

In [31]:
s1.append(s2)

0     8
1     2
2    12
3     6
4     5
5     4
0    20
1     2
2     7
3     6
4     2
5    17
dtype: int64

In [33]:
s1 = pd.Series({'Ali': 16, 'Sara': 17})
s2 = pd.Series({'Ali': 19, 'Sara': 15, 'Taha':18})

In [34]:
s1.combine(s2, max)

Ali     19.0
Sara    17.0
Taha     NaN
dtype: float64

In [36]:
s1.combine(s2, max, fill_value=0) # حل بحث طاها

Ali     19
Sara    17
Taha    18
dtype: int64

## apply

In [37]:
s= pd.Series([10, 5, 100])
s

0     10
1      5
2    100
dtype: int64

In [38]:
s.apply(np.log10)

0    1.00000
1    0.69897
2    2.00000
dtype: float64

In [39]:
def f(x):
    return x**2
s.apply(f)

0      100
1       25
2    10000
dtype: int64

 تابعی که تعریف کردیم رو روی تک تک داده های سری اعمال کردیم

In [41]:
lam = lambda x: x**2
s.apply(lam)

0      100
1       25
2    10000
dtype: int64

In [42]:
def myfunc(x, y):
    return x - y
s.apply(myfunc, args=(2, ))

0     8
1     3
2    98
dtype: int64

تابعی نوشتیم که هر ورودی که بهش بدیم دوتا ازش کم میکنه

In [44]:
def f(r, **kwargs):
    for i in kwargs:
        r += kwargs[i]
    return r
s.apply(f, x=3, y=2)

0     15
1     10
2    105
dtype: int64

## transform

In [45]:
pd.Series([10, 4, 9])
s.transform([np.sqrt, np.log10])

        sqrt    log10
0   3.162278  1.00000
1   2.236068  0.69897
2  10.000000  2.00000

## agg: aggregate

In [46]:
s = pd.Series([10, 4, 9, 2, 18, 16])
s.agg(['min', 'max'])

min     2
max    18
dtype: int64

## nlargest, nsmallest

In [49]:
data = {'a': 6, 'b': 3, 'c': 8, 'd': 5, 'e': 9, 'f': 3, 'g': 5, 'h': 4, 'i':5}
s = pd.Series(data)
s

a    6
b    3
c    8
d    5
e    9
f    3
g    5
h    4
i    5
dtype: int64

In [52]:
s.nlargest(4) # چهارتا بزرگتر رو نشون میده

e    9
c    8
a    6
d    5
dtype: int64

In [53]:
s.nlargest(4, keep='all')

e    9
c    8
a    6
d    5
g    5
i    5
dtype: int64

In [55]:
s.nsmallest() # پیشفرض 5 هست

b    3
f    3
h    4
d    5
g    5
dtype: int64

## groupby

In [59]:
i = ['BMW', 'BMW', 'Benz', 'Benz']
d = [220, 180, 230, 200]

In [60]:
s = pd.Series(d, index=i, name='MaxSpeed')
s

BMW     220
BMW     180
Benz    230
Benz    200
Name: MaxSpeed, dtype: int64

In [61]:
s.groupby(i).max()

BMW     220
Benz    230
Name: MaxSpeed, dtype: int64

In [62]:
s.groupby(i).mean()

BMW     200.0
Benz    215.0
Name: MaxSpeed, dtype: float64

## between

In [63]:
s = pd.Series([15, 9, 18, 20])
s.between(10, 20)

0     True
1    False
2     True
3     True
dtype: bool

## dropnan

In [73]:
s = pd.Series([18, np.nan, 19, 15,np.nan, 17])

In [74]:
s

0    18.0
1     NaN
2    19.0
3    15.0
4     NaN
5    17.0
dtype: float64

In [77]:
s.dropna(inplace=True) #  inplace=True : we didnt need to write s = s.dropna()

In [78]:
s

0    18.0
2    19.0
3    15.0
5    17.0
dtype: float64

## to_numpy, to_dict

In [82]:
s = pd.Series([15, 9, 18, 20])
arr = s.to_numpy()
arr

array([15,  9, 18, 20], dtype=int64)

In [84]:
s = pd.Series([15, 9, 18, 20])
d = s.to_dict()
d

{0: 15, 1: 9, 2: 18, 3: 20}

## replace, repeat

In [90]:
s = pd.Series([15, 9, 18, 20])
s.replace(9, 10)

0    15
1    10
2    18
3    20
dtype: int64

In [91]:
s

0    15
1     9
2    18
3    20
dtype: int64

In [92]:
s.repeat(2)

0    15
0    15
1     9
1     9
2    18
2    18
3    20
3    20
dtype: int64

## MultiIndex

In [97]:
lst = [['BMW', 'BMW', 'Benz', 'Benz'], ['A', 'B', 'A', 'B']]
mi = pd.MultiIndex.from_arrays(lst, names=('Brand', 'Class'))
d = [220, 180, 230, 200]
s = pd.Series(d, index=mi)

In [98]:
s

Brand  Class
BMW    A        220
       B        180
Benz   A        230
       B        200
dtype: int64

In [99]:
s.groupby(level='Brand').max()

Brand
BMW     220
Benz    230
dtype: int64

In [100]:
s.groupby(level='Class').max()

Class
A    230
B    200
dtype: int64